numpy==1.26.4
pandas
scikit-learn
matplotlib
librosa
soundfile
huggingface-hub
numba
seaborn

fastapi
uvicorn
python-multipart
huggingface_hub

# PyTorch (CPU)
--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2

PyYAML
python-box
ensure

-e .